<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="style.css"></script>
    <title>Document</title>
</head>
<body>
    



<div class="viewport" id="app">
    <transition name="nav">
      <nav class="nav" v-if="loaded">
        <a class="nav__brand" href="https://codepen.io/xdesro">
              <svg viewBox="0 0 100 100">
                <path
                  d="M100 34.2c-.4-2.6-3.3-4-5.3-5.3-3.6-2.4-7.1-4.7-10.7-7.1-8.5-5.7-17.1-11.4-25.6-17.1-2-1.3-4-2.7-6-4-1.4-1-3.3-1-4.8 0-5.7 3.8-11.5 7.7-17.2 11.5L5.2 29C3 30.4.1 31.8 0 34.8c-.1 3.3 0 6.7 0 10v16c0 2.9-.6 6.3 2.1 8.1 6.4 4.4 12.9 8.6 19.4 12.9 8 5.3 16 10.7 24 16 2.2 1.5 4.4 3.1 7.1 1.3 2.3-1.5 4.5-3 6.8-4.5 8.9-5.9 17.8-11.9 26.7-17.8l9.9-6.6c.6-.4 1.3-.8 1.9-1.3 1.4-1 2-2.4 2-4.1V37.3c.1-1.1.2-2.1.1-3.1 0-.1 0 .2 0 0zM54.3 12.3L88 34.8 73 44.9 54.3 32.4V12.3zm-8.6 0v20L27.1 44.8 12 34.8l33.7-22.5zM8.6 42.8L19.3 50 8.6 57.2V42.8zm37.1 44.9L12 65.2l15-10.1 18.6 12.5v20.1zM50 60.2L34.8 50 50 39.8 65.2 50 50 60.2zm4.3 27.5v-20l18.6-12.5 15 10.1-33.6 22.4zm37.1-30.5L80.7 50l10.8-7.2-.1 14.4z"
                ></path>
              </svg>
            </a>
        <ul class="nav__list">
          <li class="nav__list-item">
            <a class="nav__list-item-link" href="https://henry.codes">About</a>
          </li>
          <li class="nav__list-item">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                  <path
                    d="M1 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM5 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM9 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM1 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM1 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM5 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM9 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM5 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM9 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                  />
                </svg>
          </li>
        </ul>
      </nav>
    </transition>
    <main class="main">
      <transition name="main__slider">
        <transition-group v-if="loaded" tag="div" class="main__slider" name="main__slide-image" mode="out-in">
          <img class="main__slide-image" alt="" v-for="(slide, index) of slides" :key="index" :src="slide.img" v-if="index === currentActiveSlide" />
        </transition-group>
      </transition>
      <transition-group tag="div" class="main__headline" name="main__headline-span" mode="out-in">
        <span v-for="(slide, index) of slides" :key="index" v-if="index === currentActiveSlide" class="main__headline-span">{{ slide.headline }}</span
            >
          </transition-group>
          <transition name="main__nav">
            <div class="main__nav" v-if="loaded">
              <p>Play Video</p>
              <ul class="social-links">
                <li class="social-links__item">
                  <a href="https://instagram.com/xdesro">Ig</a>
                </li>
                <li class="social-links__item">
                  <a href="https://twitter.com/xdesro">Tw</a>
                </li>
                <li class="social-links__item">
                  <a href="https://www.linkedin.com/in/henrydesroches/">In</a>
                </li>
              </ul>
            </div>
          </transition>
        </main>
        <aside class="aside">
          <transition name="aside__nav">
            <div class="aside__nav" v-if="loaded">
              <button class="aside__button" @click="incrementSlide(-1)">←</button
              ><button class="aside__button" @click="incrementSlide(1)">→</button>
            </div>
          </transition>
          <transition name="aside__slider">
            <transition-group
              v-if="loaded"
              tag="div"
              class="aside__slider"
              name="aside__slide-image"
              mode="out-in"
              ref="aside"
            >
              <img
                class="aside__slide-image"
                alt=""
                v-for="(slide, index) of slides"
                :key="index"
                :src="slide.img"
                v-if="index === nextActiveSlide"
              />
            </transition-group>
          </transition>
          <transition name="progress-indicator">
            <ul
              class="progress-indicator"
              :data-slides-count="'0' + slides.length"
              v-if="loaded"
            >
              <li
                v-for="(slide,index) of slides"
                :class="index === currentActiveSlide ? 'progress-indicator__bar  progress-indicator__bar--active' : 'progress-indicator__bar'"
                :key="index"
              ></li>
            </ul>
          </transition>
        </aside>
      </div>


    </body>
    </html>      