:root {
    --color--primary: hsl(0, 0%, 100%);
    --color--secondary: hsl(0, 0%, 90%);
    --color--neutral: hsl(0, 0%, 1%);
    --color--background: hsl(300, 3%, 15%);
  }
  @mixin slide-image {
    position: absolute;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  html {
    font-family: "Inter", sans-serif;
    font-size: calc(95vmin / 100);
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
  body {
    display: grid;
    min-height: 100vh;
    background: var(--color--background);
  
    place-items: center;
  }
  .viewport {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 30rem;
    width: 95vmin;
    height: calc(95rem * (9 / 16));
    background: var(--color--primary);
    box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.2);
    overflow: hidden;
  }
  .nav {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 5rem;
   
    &-leave-to {
      transform: translateY(-2rem);
      opacity: 0;
    }
    &-enter-active,
    &-leave-active {
      transition: all 300ms;
    }
    &__brand {
      width: 3rem;
      fill: var(--color--primary);
    }
    &__list {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 15rem;
      justify-content: space-between;
      padding: 0;
      color: var(--color--neutral);
    }
    &__list-item {
      font-weight: 730;
      svg {
        width: 1rem;
        fill: var(--color--neutral);
      }
    }
    &__list-item-link {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:visited {
        color: var(--color--neutral);
      }
    }
  }
  .main {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "headline" "nav";
    align-items: end;
    a {
      font-weight: 730;
      text-decoration: none;
      color: var(--color--primary);
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    &__slider {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 70rem;
      height: 100%;
      transition: background 200ms;
      background: var(--color--background);
      background: var(--accent);
  
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        opacity: 0.1;
        background: var(--color--background);
      }
      &-enter,
      &-leave-to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &-enter-active,
      &-leave-active {
        transition: all 500ms;
      }
    }
    &__slide-image {
      @include slide-image;
      &-enter {
        transform: scale(1.3);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &-leave-to {
        transform: scale(1.3);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      }
      &-enter-active {
        transition: all 700ms;
        transition-delay: 500ms;
      }
      &-leave-active {
        transition: all 700ms;
      }
    }
    &__headline {
      font-size: 4rem;
      font-weight: 730;
      position: relative;
      z-index: 1;
      width: 50rem;
      padding: 5rem;
      color: var(--color--primary);
      &-span {
        position: absolute;
        &-enter,
        &-leave-to {
          transform: translateY(1em);
          opacity: 0;
        }
        &-enter-active,
        &-leave-active {
          transition: all 300ms;
        }
        &-enter-active {
          transition-delay: 700ms;
        }
      }
    }
    &__nav {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-area: nav;
      width: 30rem;
      padding: 3rem 5rem;
      color: var(--color--primary);
      &-enter,
      &-leave-to {
        transform: translateY(2rem);
        opacity: 0;
      }
      &-enter-active,
      &-leave-active {
        transition: all 300ms;
      }
    }
  }
  .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.4rem;
    align-items: center;
    &:before,
    &:after {
      display: block;
      width: 1rem;
      height: 0.1rem;
      content: "";
      background: var(--color--primary);
    }
    &:before {
      grid-column: 2;
    }
    &:after {
      grid-column: 4;
    }
  }
  .aside {
    position: relative;
    display: grid;
    padding: 5rem;
    &__nav {
      position: absolute;
      bottom: 0;
      left: -10rem;
      transform: translateY(0);
      &-enter,
      &-leave-to {
        transform: translateY(2rem);
        opacity: 0;
      }
      &-enter-active,
      &-leave-active {
        transition: all 300ms;
      }
    }
    &__slider {
      position: relative;
      overflow: hidden;
      height: 25rem;
      margin-top: 10rem;
      background: var(--color--background);
      background: var(--accent);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      &-enter,
      &-leave-to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &-enter-active,
      &-leave-active {
        transition: all 300ms;
        transition-delay: 200ms;
      }
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        opacity: 0.3;
        background: var(--color--background);
      }
    }
    &__slide-image {
      @include slide-image;
  
      transform: translateX(-10rem);
  
      &-enter {
        transform: scale(1.3) translateX(-10rem);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
      &-leave-to {
        transform: scale(1.3) translateX(-10rem);
        // opacity: 0;
  
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      }
      &-enter-active {
        transition: all 700ms;
        transition-delay: 600ms;
      }
      &-leave-active {
        transition: all 700ms;
        transition-delay: 200ms;
      }
    }
    &__button {
      font-weight: 900;
      font-size: 2rem;
      width: 10rem;
      height: 10rem;
      margin: 0;
      cursor: pointer;
      border: 0;
      border: 1px solid var(--color--primary);
      outline: 0;
      background: var(--color--primary);
      &:hover,
      &:focus {
        border-color: var(--color--neutral);
      }
      &:active {
        color: var(--color--primary);
        border-color: var(--color--neutral);
        background: var(--color--neutral);
      }
    }
  }
  .progress-indicator {
    font-size: 0.9rem;
    font-weight: 900;
    position: absolute;
    right: 5rem;
    bottom: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
    justify-content: end;
    width: 10rem;
    transform: translateY(0);
    &-enter,
    &-leave-to {
      transform: translateY(2rem);
      opacity: 0;
    }
    &-enter-active,
    &-leave-active {
      transition: all 300ms;
    }
    &__bar {
      width: 1.5rem;
      height: 0.2rem;
      transition: all 200ms;
      background: var(--color--secondary);
      &--active {
        background: var(--color--neutral);
      }
    }
  
    &:before,
    &:after {
      color: var(--color--neutral);
    }
    &:before {
      content: "01";
    }
    &:after {
      content: attr(data-slides-count);
    }
  }
  